---
import Exchange from "../../icons/Exchange.astro";



---

<section class="mt-10">
  <div class="text-center p-4">
    <h1 class="text-2xl">
      ¿Deseas traducir una imagen a un lenguaje que no conoces?<br />
      <label class="font-bold">¡Prueba aquí!</label>
    </h1>
  </div>
  <div
    class="flex align-middle text-center justify-between bg-[#0BBD84] p-5 rounded-t-md"
  >
    <select
      name=""
      id="sourceLangImage"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
    >
      <option value="spanish">Español</option>
      <option value="english">Inglés</option>
      <option value="french">Francés</option>
      <option value="german">Alemán</option>
      <option value="italian">Italiano</option>
      <option value="portuguese">Portugués</option>
      <option value="russian">Ruso</option>
      <option value="chinese">Chino</option>
      <option value="japanese">Japonés</option>
      <option value="arabic">Árabe</option>
      <option value="korean">Coreano</option>
      <option value="turkish">Turco</option>
      <option value="dutch">Holandés</option>
      <option value="polish">Polaco</option>
      <option value="swedish">Sueco</option>
      <option value="danish">Danés</option>
      <option value="finnish">Finlandés</option>
      <option value="norwegian">Noruego</option>
      <option value="czech">Checo</option>
      <option value="hungarian">Húngaro</option>
      <option value="romanian">Rumano</option>
      <option value="indonesian">Indonesio</option>
      <option value="malay">Malayo</option>
      <option value="thai">Tailandés</option>
      <option value="vietnamese">Vietnamita</option>
      <option value="hindi">Hindi</option>
      <option value="bengali">Bengalí</option>
      <option value="persian">Persa</option>
      <option value="hebrew">Hebreo</option>
      <option value="urdu">Urdu</option>
      <option value="tamil">Tamil</option>
      <option value="telugu">Telugu</option>
      <option value="malayalam">Malayalam</option>
      <option value="marathi">Maratí</option>
      <option value="kannada">Kannada</option>
      <option value="gujarati">Gujarati</option>
      <option value="punjabi">Panyabí</option>
      <option value="sindhi">Sindhi</option>
      <option value="nepali">Nepalí</option>
    </select>

    <button id="exchangeButtonImage">
      <Exchange />
    </button>

    <select
      name=""
      id="targetLangImage"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
    >
      <option value="spanish">Español</option>
      <option value="english" selected>Inglés</option>
      <option value="french">Francés</option>
      <option value="german">Alemán</option>
      <option value="italian">Italiano</option>
      <option value="portuguese">Portugués</option>
      <option value="russian">Ruso</option>
      <option value="chinese">Chino</option>
      <option value="japanese">Japonés</option>
      <option value="arabic">Árabe</option>
      <option value="korean">Coreano</option>
      <option value="turkish">Turco</option>
      <option value="dutch">Holandés</option>
      <option value="polish">Polaco</option>
      <option value="swedish">Sueco</option>
      <option value="danish">Danés</option>
      <option value="finnish">Finlandés</option>
      <option value="norwegian">Noruego</option>
      <option value="czech">Checo</option>
      <option value="hungarian">Húngaro</option>
      <option value="romanian">Rumano</option>
      <option value="indonesian">Indonesio</option>
      <option value="malay">Malayo</option>
      <option value="thai">Tailandés</option>
      <option value="vietnamese">Vietnamita</option>
      <option value="hindi">Hindi</option>
      <option value="bengali">Bengalí</option>
      <option value="persian">Persa</option>
      <option value="hebrew">Hebreo</option>
      <option value="urdu">Urdu</option>
      <option value="tamil">Tamil</option>
      <option value="telugu">Telugu</option>
      <option value="malayalam">Malayalam</option>
      <option value="marathi">Maratí</option>
      <option value="kannada">Kannada</option>
      <option value="gujarati">Gujarati</option>
      <option value="punjabi">Panyabí</option>
      <option value="sindhi">Sindhi</option>
      <option value="nepali">Nepalí</option>
    </select>
  </div>

  <div class="flex items-center justify-center w-full">
    <label
      for="dropzone-file"
      class="flex flex-col items-center justify-center w-full h-64 rounded-bl-lg border-2 border-gray-300 border-dashed cursor-pointer bg-gray-50 hover:bg-gray-100"
    >
      <div class="flex flex-col items-center justify-center pt-5 pb-6">
        <svg
          class="w-8 h-8 mb-4 text-gray-500"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 20 16"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"
          ></path>
        </svg>
        <p class="mb-2 text-sm text-gray-500">
          <span class="font-semibold">Click to upload</span> or drag and drop
        </p>
        <p class="text-xs text-gray-500">PNG or JPG (MAX. 800x400px)</p>
      </div>
      <input
        id="dropzone-file"
        type="file"
        class="hidden"
        accept="image/png, image/jpg"
      />
      
    </label>
    <div class="flex w-full h-64">
      <textarea
        name=""
        id="textAreaImage"
        disabled
        class="w-full bg-slate-100 p-2 text-2xl border border-gray-300 hover:border-gray-400 focus:border-blue-500 transition duration-300 ease-in-out outline-none resize-none rounded-br-lg"
      ></textarea>
    </div>
  </div>
</section>
