---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Contacto">
  <main class="px-4">
    <SectionContainer class="py-20 pb-32">
      <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center">
          Contacto
        </h2>
        <p class="mb-8 lg:mb-16 font-light text-center sm:text-xl">
          <span>¿Encontraste un fallo?</span>
          <span class="text-[#59c9a5]">¿Quieres hablar de oportunidades?</span>
          <span> </span>
          <span class="text-[#d81e5b]"> ¿Necesitas más información? </span> ¡Ponte
          en contacto conmigo!
        </p>
        <form
          action="https://formspree.io/f/meqyykbz"
          class="space-y-8"
          method="POST"
        >
          <div>
            <label for="email" class="block mb-2 text-sm font-medium"
              >Correo</label
            >
            <input
              type="email"
              name="email"
              id="email"
              class="shadow-sm bg-[#fff7f3] border border-[#23395b] text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5"
              placeholder="Nombre@gmail.com"
              required
            />
          </div>
          <div>
            <label for="subject" class="block mb-2 text-sm font-medium"
              >Título</label
            >
            <input
              type="text"
              id="subject"
              class="block p-3 w-full text-sm bg-[#fff7f3] rounded-lg border border-[#23395b] shadow-sm focus:ring-primary-500 focus:border-primary-500"
              placeholder="Déjame saber en qué te puedo ayudar"
              required
            />
          </div>
          <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium"
              >Mensaje</label
            >
            <textarea
              name="message"
              id="message"
              rows="6"
              class="block p-2.5 w-full text-sm bg-[#fff7f3] rounded-lg shadow-sm border border-[#23395b] focus:ring-primary-500 focus:border-primary-500"
              placeholder="..."></textarea>
          </div>
          <button
            type="submit"
            class="py-3 px-5 text-sm font-medium text-center bg-[#fff7f3] border-[#23395b] rounded-lg bg-primary-700 sm:w-fit hover:bg-primary-800 focus:ring-4 focus:outline-none focus:ring-primary-300"
            >Enviar mensaje</button
          >
        </form>
      </div>
    </SectionContainer>
    <Footer />
  </main>
</Layout>
