---
import Layout from "../layouts/Layout.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Card from "../components/Card.astro";
import Information from "../components/Information.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="TranslaSite"
  description="La página principal de translasite, donde puedes hacer traduciones con inteligencia artificial, haciendo estas traducciones altamente confiables"
>
  <main class="px-4">
    <SectionContainer class="py-14 md:py-44 pb-32">
      <h1 class="font-extrabold text-3xl md:text-5xl text-center">
        Explora el contenido del mundo en tu lengua materna
      </h1>
      <h2 class="text-lg md:text-2xl text-center p-8">
        Desde documentos académicos hasta artículos de noticias, nuestra
        plataforma ofrece traducciones instantáneas que preservan el significado
        y la intención original.
      </h2>
      <div class="flex flex-col items-center justify-center">
        <a
          href="/TranslaSite"
          type="button"
          class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-3.5 text-center me-2 mb-2"
          >Empieza aquí</a
        >
      </div>
    </SectionContainer>
    <SectionContainer>
      <Card />
    </SectionContainer>
    <SectionContainer>
      <Information />
    </SectionContainer>
  </main>
</Layout>
