---
import Layout from "../layouts/Layout.astro";
import ContainerTranslaSite from "../components/ContainerTranslaSite.astro";
import Options from "../components/Options.astro";
import TranslateIcon from "../icons/TranslateIcon.astro";
import Translate from "../components/Translate/Translate.astro";
import TranslateImage from "../components/Translate/TranslateImage.astro";
import Image from "../icons/Image.astro";
---

<Layout
  title="TranslaSite"
  description="Puedes traduccir de imagen a texto o de texto a texto usando inteligencia artificial para potenciar la traducción"
>
  <ContainerTranslaSite class="py-6 p-4">

    <!-- Need to improve more this code, use map to get the options and the icons -->

    <nav class="flex gap-4 mt-8 flex-wrap">
      <Options href="#text">
        <TranslateIcon class="size-4 md:size-6" />Texto A Texto
      </Options>
      <Options href="#image">
        <Image class="size-4 md:size-6" />Imagen a texto
      </Options>
    </nav>
    <section>

      <!-- Need to improve more this code, put the button in other class, 
       or move TranslasiteImage button to here, 
       in order to make sense in the code -->

      <Translate id="text" />
      <div class="p-5">
        <input
          class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-3.5 text-center me-2 mb-2 cursor-pointer"
          type="button"
          value="Traducir"
        />
      </div>
    </section>
    <section id="image">
      <TranslateImage />
    </section>

    <script src="/src/components/scripts/GeminiTranslate"></script>
    <script src="/src/components/scripts/GeminiImage"></script>
    <script src="/src/components/scripts/ExchangeButton.js"></script>
    
  </ContainerTranslaSite>
</Layout>
