---
import Layout from "../layouts/Layout.astro";
import ContainerTranslaSite from "../components/ContainerTranslaSite.astro";
import Options from "../components/Options.astro";
import TranslateIcon from "../icons/TranslateIcon.astro";
import Translate from "../components/Translate/Translate.astro";



---

<Layout title="TranslaSite">
  <ContainerTranslaSite class="py-6 p-4">
    <nav class="flex gap-4 mt-8 flex-wrap">
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
    </nav>
    <Translate/>
  </ContainerTranslaSite>
</Layout>
