---
import Layout from "../layouts/Layout.astro";
import ContainerTranslaSite from "../components/ContainerTranslaSite.astro";
import Options from "../components/Options.astro";
import TranslateIcon from "../icons/TranslateIcon.astro";
import Translate from "../components/Translate/Translate.astro";
import TranslateImage from "../components/Translate/TranslateImage.astro";
---

<Layout title="TranslaSite">
  <ContainerTranslaSite class="py-6 p-4">
    <nav class="flex gap-4 mt-8 flex-wrap">
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
      <Options href="https://youtube.com">
        <TranslateIcon class="size-4 md:size-6" />Traducir
      </Options>
    </nav>
    <Translate />
    <div class="p-5">
      <input
        class="text-white bg-gradient-to-br from-green-400 to-blue-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-green-200 font-medium rounded-lg text-sm px-5 py-3.5 text-center me-2 mb-2 cursor-pointer"
        type="button"
        value="Traducir"
      />
    </div>
    <TranslateImage />



    <script type="module" src="/src/scripts/GeminiTranslate.js"></script>
  </ContainerTranslaSite>
</Layout>
