<section class="grid grid-cols-2 gap-2 text-center">
  <div class="bg-[#59c9a5] bg-opacity-80 rounded p-2">
    <h1 class="text-3xl font-semibold py-2">Traducciones Simplificadas</h1>
    <p class="text-pretty">
      Con TranslaSite, obtén traducciones rápidas y precisas de cualquier
      idioma. Nuestra plataforma, impulsada por la inteligencia artificial,
      te ofrece una experiencia fácil de usar con un diseño
      minimalista. Ideal para quienes buscan romper las barreras lingüísticas de
      forma sencilla y eficiente.
    </p>
  </div>
  <div class="bg-[#d81e5b] bg-opacity-80 rounded p-2">
    <h1 class="text-3xl font-semibold py-2">Tecnología de Vanguardia</h1>
    <p class="text-pretty">
      La inteligencia artificial Gemini-Flash garantiza traducciones precisas y
      adaptadas al contexto. Nuestra tecnología avanzada no solo traduce
      palabras, sino que capta el sentido y los matices, proporcionando
      resultados fieles al significado original. Disfruta de una comunicación
      clara y sin complicaciones.
    </p>
  </div>
  <div class="col-span-2 bg-[#ffeb45] bg-opacity-80 rounded p-2 mt-2">
    <h1 class="text-3xl font-semibold py-2">Conexiones Sin Límites</h1>
    <p class="text-pretty">
      TranslaSite facilita la comunicación global con una interfaz intuitiva y
      accesible. Ya sea que necesites traducir textos o imágenes, nuestra
      herramienta te permite conectar con cualquier persona en su idioma nativo.
      Simplifica tu experiencia de traducción y expande tus horizontes con
      confianza.
    </p>
  </div>
</section>
