<section class="grid grid-cols-2 gap-2 text-center">
  <div class="bg-[#59c9a5] bg-opacity-80 rounded p-2">
    <h1 class="text-3xl font-semibold py-2">Contenido para mostrar</h1>
    <p class="text-pretty">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
      nemo, ullam dignissimos placeat quis tempora quos vel molestias corrupti,
      dolorem necessitatibus recusandae voluptates dolores, eius illum ratione
      nam praesentium.
    </p>
  </div>
  <div class="bg-[#d81e5b] bg-opacity-80 rounded p-2">
    <h1 class="text-3xl font-semibold py-2">Contenido para mostrar</h1>
    <p class="text-pretty">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
      nemo, ullam dignissimos placeat quis tempora quos vel molestias corrupti,
      dolorem necessitatibus recusandae voluptates dolores, eius illum ratione
      nam praesentium.
    </p>
  </div>
  <div class="col-span-2 bg-[#ffeb45] bg-opacity-80 rounded p-2 mt-2">
    <h1 class="text-3xl font-semibold py-2">Contenido para mostrar</h1>
    <p class="text-pretty">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo commodi
      nemo, ullam dignissimos placeat quis tempora quos vel molestias corrupti,
      dolorem necessitatibus recusandae voluptates dolores, eius illum ratione
      nam praesentium.
    </p>
  </div>
</section>
