<footer
  class="rounded-lg m-4 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
  aria-labelledby="footer-title"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm sm:text-center" id="footer-title">
      © 2024 <a href="#top" class="hover:underline">Juan Nicolay</a>. página
      hecha por Juan Nicolay.
    </span>
    <nav class="mt-3 text-sm font-medium sm:mt-0">
      <ul class="flex flex-wrap items-center">
        <li class="me-4 md:me-6">
          <a
            href="https://github.com/Rakkun9/TranslaSite"
            class="hover:underline">Sobre el proyecto</a
          >
        </li>
        <li>
          <a href="/Contact" class="hover:underline">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
