---
import ConctactIcon from "../icons/ConctactIcon.astro";
import Github from "../icons/Github.astro";
import Play from "../icons/Play.astro";
---

<header
  class="flex flex-wrap justify-between items-center p-5 w-full xl:w-[1120px] mx-auto"
>
  <a href="/" class="flex justify-center w-full md:w-auto mb-4 md:mb-0">
    <img
      src="/projects/TranslaSite-removebg-resise.webp"
      alt="retornar al inicio"
      class="w-18 h-14 mx-4"
    />
  </a>

  <nav
    class="flex flex-wrap w-full md:w-auto justify-center items-center gap-y-4 gap-x-10 mt-4 md:mt-0"
  >
    <a
      href="Contact"
      class="flex justify-center items-center gap-x-2 md:text-base hover:scale-110 transition"
      href={Astro.props.href}
      rel="noonpener noreferrer"
      ><ConctactIcon class="size-4 md:size-6" />Contacto</a
    >

    <a
      href="/TranslaSite"
      class="flex justify-center items-center gap-x-2 md:text-base hover:scale-110 transition"
      href={Astro.props.href}
      rel="noonpener noreferrer"
      ><Play class="size-4 md:size-6" />Empieza aquí</a
    >

    <a
      href="https://github.com/Rakkun9/TranslaSite"
      class="flex justify-center items-center gap-x-2 md:text-base hover:scale-110 transition"
      href={Astro.props.href}
      target="_black"
      rel="noonpener noreferrer"><Github class="size-4 md:size-6" />Github</a
    >
  </nav>
</header>
