<article class="flex flex-row justify-between items-center">
  <div class="w-[30rem] bg-[#59c9a5] bg-opacity-80 p-4 rounded">
    <h1 class="text-3xl p-4 font-bold">Esto es un título</h1>
    <p class="text-pretty">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt autem
      ducimus, aliquam voluptatum architecto omnis laborum veritatis beatae modi
      distinctio, velit ullam obcaecati perspiciatis? Alias officia corrupti
      provident laboriosam deserunt? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Earum architecto consequuntur dolor, maiores dolores rem
      doloremque atque, impedit quam ipsum eum eaque, temporibus cumque unde
      beatae optio! Fuga, esse enim.
    </p>
  </div>
  <div>
    <!-- [// replace the image, this image is not good ] -->

    <img
      src="../../public/projects/information-2.webp"
      alt="Imagen de un computador"
      class="w-75 h-60 rounded"
    />
  </div>
</article>
<article class="flex flex-row-reverse justify-between items-center mt-20">
  <div class="w-[30rem] bg-[#d81e5b] bg-opacity-80 p-4 rounded">
    <h1 class="text-3xl text-right p-4 font-bold">Esto es un título</h1>
    <p class="text-pretty text-right">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Incidunt autem
      ducimus, aliquam voluptatum architecto omnis laborum veritatis beatae modi
      distinctio, velit ullam obcaecati perspiciatis? Alias officia corrupti
      provident laboriosam deserunt? Lorem ipsum dolor sit amet consectetur
      adipisicing elit. Earum architecto consequuntur dolor, maiores dolores rem
      doloremque atque, impedit quam ipsum eum eaque, temporibus cumque unde
      beatae optio! Fuga, esse enim.
    </p>
  </div>
  <div>
    <!-- [// replace the image, this image is not good ] -->

    <img
      src="../../public/projects/information-2.webp"
      alt="Imagen de un computador"
      class="w-75 h-60 rounded"
    />
  </div>
</article>
