<article class="flex flex-row justify-between items-center">
  <div class="w-[30rem] bg-[#59c9a5] bg-opacity-80 p-4 rounded">
    <h1 class="text-3xl p-4 font-bold">Sencillo, rápido y preciso</h1>
    <p class="text-pretty">
      Gemini ofrece una experiencia de traducción que combina tecnología de
      punta con una interfaz excepcionalmente sencilla. Con nuestra plataforma,
      puedes traducir textos de manera rápida y precisa sin complicaciones
      técnicas. Diseñada para ser intuitiva y fácil de usar, nuestra herramienta
      está idealmente adaptada para usuarios de todos los niveles. Aprovecha la
      eficacia de la inteligencia artificial de Gemini y experimenta una
      traducción sin esfuerzo. ¡Comienza hoy y simplifica tu comunicación en
      diferentes idiomas!
    </p>
  </div>
  <div>
    <img
      src="../../public/projects/Translator-bro-squoosh.webp"
      alt="Imagen de una persona trabajando"
      class="w-auto h-96 p-8"
    />
  </div>
</article>
<article class="flex flex-row-reverse justify-between items-center mt-20">
  <div class="w-[30rem] bg-[#d81e5b] bg-opacity-80 p-4 rounded">
    <h1 class="text-3xl text-right p-4 font-bold">
      Traducción inteligente, interfaz amigable
    </h1>
    <p class="text-pretty text-right">
      En nuestra plataforma, la tecnología avanzada de Gemini se une a una
      interfaz limpia y fácil de navegar, garantizando una experiencia de
      usuario óptima. Con solo unos clics, obtén traducciones precisas y
      adaptadas al contexto. Nuestra herramienta está pensada para usuarios de
      todos los niveles, ofreciendo un proceso de traducción eficiente sin
      complicaciones técnicas. ¡Explora la simplicidad y efectividad de nuestra
      solución hoy mismo!
    </p>
  </div>
  <div>
    <img
      src="../../public/projects/Translator-rafiki-squoosh.webp"
      alt="Imagen de una persona trabajando"
      class="w-auto h-[400px] p-6"
    />
  </div>
</article>
