<a
  class="rounded-full border flex justify-center items-center gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base bg-white hover:scale-110 hover:bg-[#fff7f3] transition"
  href={Astro.props.href}
  target="_black"
  rel="noonpener noreferrer"
>
  <slot />
</a>
