---
import "@fontsource-variable/outfit";
import Header from "../components/Header.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]">

    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light;
  }
  html {
    font-family: "Outfit Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #000000;
  }
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>
